*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, .container {
    width: 100%;
}
header{
    display: flex;
}
nav{
    width: 100%;
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.branding-red{
    display: inline-block;
    font-size: 6vh;
    font-style: italic;
    font-weight: 700;
    color: #D6000D;
}
.branding-black{
    display: inline-block;
    font-size: 6vh;
    font-weight: 700;
    color: black;
}
.navbar ul {
    display: flex;
    
}
.navbar ul li{
    list-style: none;
    display: block;
    padding: 0 15px 0 15px;    
}
.navbar ul li a{
    font-size: 3vh;
   text-decoration: none;
   color: black;
}
.sessao-1, .sessao-2, .sessao-3, .sessao-4, .sessao-5{
    display: flex;
    flex-direction: row;
}
.video-call{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-call img{
    width: 60%;
}
.texto-principal{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-principal div:nth-child(1){
    font-size: 5vh;
    color:black;
    font-weight: 700;
}
.texto-principal div:nth-child(2){
    font-size: 10vh;
    font-weight: 700;
    color: #D6000D;
}
.texto-principal button{
    margin: 25px 0 10px 0;
    padding: 10px 40px 10px 40px;
    color: white;
    font-size: 4vh;
    font-weight: 700;
    background-color: #D6000D;
    border: none;
    border-radius: 15px;
}
.servicos, .codando, .deixe-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.servicos{
    height: 60vh;
    width: 50%;
}
.servicos ul{
    list-style-image: url('./assets/check.png');
}
.servicos ul li{
    margin: 8px 0 8px 0;
    font-size: 4vh;
}
.codando{
    height: 60vh;
    width: 50%;
}
.codando img{
    width: 60%;
}
.deixe-contato{
    padding: 20px 0 0 10%;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50vh;
    width: 100%;
}
.deixe-contato form{
    width: 100%;
}
.deixe-contato form input{
    width: 30%;
    margin-top: 15px;
    padding: 15px 10px 15px 10px;
    font-size: 3vh;
    color: rgb(87, 87, 87);
    background-color: rgb(187, 187, 187);
    border: none;
    border-radius: 15px;
}
.deixe-contato form button{
    margin: 25px 0 10px 0;
    padding: 15px 40px 15px 40px;
    color: white;
    font-size: 3vh;
    font-weight: 600;
    background-color: #D6000D;
    border: none;
    border-radius: 15px;
}
.depoimentos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 30px;
    padding: 20px;
    background-color: rgb(187, 187, 187);
    border-radius: 15px;
}
.circle{
    margin: 15px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #D6000D;
}
.text{
    width: 60%;
}
footer{
    width: 100%;
    height: 60vh;
    padding-top: 35px;
    background-color: black;
    color: white;
}
footer h2{
    font-size: 6vh;
    margin-bottom: 15px;
}
.marca-footer{
    width: 25%;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}
.branding{
    font-size: 8vh;
    font-style: italic;
    font-weight: 700;
}
.slogan{
    margin-top: 15px;
    font-size: 3vh;
}
.sobre{
    width: 25%;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}
.contato{
    width: 25%;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}
.contato p{
    margin-bottom: 5px;
}
.contato a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
.redes-sociais{
    width: 25%;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
}
.redes-sociais div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.redes-sociais img{
    width: 35%;
}
/* mobile: */

@media only screen and (max-width: 960px) {

    .video-call img{
        width: 80%;
    }
    .texto-principal div:nth-child(1){
        font-size: 4vh;
    }
    .texto-principal div:nth-child(2){
        font-size: 8vh;
    }
}

@media only screen and (max-width: 780px){
    nav{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .sessao-1{
        display: flex;
        flex-direction: column;
    }
    .video-call{
        height: 100%;
        width: 100%;
        margin: 15px 0 15px 0;
    }
    .video-call img{
        width: 50%;
    }
    .texto-principal{
        margin: 15px 0 15px 0;
        height: 100%;
        width: 100%;

    }
    .texto-principal div:nth-child(1){
        font-size: 3vh;
    }
    .texto-principal div:nth-child(2){
        font-size: 8vh;
    }

    .sessao-2{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .servicos, .codando, .deixe-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .servicos{
        height: 100%;
        width: 50%;
    }
    .servicos ul li{
        font-size: 3vh;
    }
    .codando{
        margin-top: 35px;
        margin-bottom: 15px;
        height: 100%;
        width: 70%;
    }
    .codando img{
        width: 60%;
    }
    .deixe-contato{
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }
    .deixe-contato form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .deixe-contato form input{
        width: 70%;
    }
    .deixe-contato form button{
        width: 70%;
    }
    .sessao-4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .depoimentos{
        width: 90%;
        margin: 30px 0 30px 0;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    footer h2{
        margin-top: 30px;
    }
    .sessao-5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .marca-footer, .sobre, .contato, .redes-sociais{
        width: 100%;
        padding: 0 15px 0 15px;
        align-items: center;
    }
    .redes-sociais div{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .redes-sociais img{
        margin: 15px;
        width: 40px;
    }

}
@media only screen and (max-width: 400px){
    .texto-principal div:nth-child(2){
        font-size: 5vh;
    }
}